<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>טופס הסכמה</title>
	<link rel=stylesheet href="../static/css/bootstrap.min.css" type="text/css">
	<link rel=stylesheet href="../static/css/style.css" type="text/css">
	<script type="text/javascript">
		function onexit() {
			self.close(); // no harm, no foul here
		}
	</script>
	<style>
		body {
			direction: rtl;
			text-align: right;
		}
	</style>
</head>

<body>
	<div id="container-consent">
		<p><b><u>טופס הסכמה</u></p>
			<p>הנך מוזמנ/ת להשתתף במחקר אונליין שעוסק בלמידה. המחקר אורך כ-45 דקות.</p>
			<p>השתתפותך היא בחירה אישית שלך. ניתן להפסיק את ההשתתפות במחקר או לצאת מהשאלון ללא כל הפסד מצדך. מותר לא לענות על כל שאלה מכל סיבה שהיא.</p>
			<p>לא מצופה שום נזק או תועלת לך באופן אישי מהשתתפותך במחקר. למרות שיתכן שהשתתפות במחקר זה לא יעזור לך באופן אישי, אנו מקווים שהתוצאות יתרמו לידע כללי אודות התנהגות אנושית. לא מצופה שום סיכון מעבר למה שתתקל בו בחיים היום-יומיים שלך.</p>
			<p>כל תשובותיך יישמרו בסודיות. רק לחוקרים המעורבים במחקר זה או שקשורים להשגחה מחקרית יהיה גישה למידע. החוקרים לא ידעו את שמך, והשאלון לא יכלול מידע מזהה. אולם, לחוקרים תהיה גישה לכתובת האינטרנטית שלך, וזאת כדי לוודא שכל משתמש הגיש פעם אחת בלבד. מהסיבה הזאת, השתתפותך נחשבת סודית ולא אנונימית ממש. </p>
			<p>לשאלות על המחקר או על התהליכים, ניתן ליצור איתי או עם המנחה שלי, פרופ' רן חסין, דרך המייל: greenlab.huji@gmail.com</p>
			<p><b>הסכמה מדעת אלקטרונית
				לחיצה על "אני מסכימ/ה" מצביעה שקראת את הנ"ל, הסכמת מדעתך להשתתף, ושמלאו לך 18 שנים או יותר.</b></p>
			<p>אם את/ה לא רוצה להשתתף, נא לסגור את החלון עכשיו, ולא יעשה שימוש במידע שלך לצרכי המחקר.</p>
		<hr>
		<center>
			<button type="button" class="btn btn-primary btn-lg" onClick="window.location='./exp2.html' + window.location.search">
				<span class="glyphicon glyphicon-ok"></span> אני מסכימ.ה
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-danger btn-lg" onClick="sendBack()">
				<span class="glyphicon glyphicon-ban-circle"></span> לא תודה
			</button>
		</center>
		<br>
	</div>

	<script>
		function sendBack() {
			const urlParams = new URLSearchParams(window.location.search);
			const uid = urlParams.get('uid');
			window.location.replace("https://www.midgampanel.com/surveyThanks2.asp?USER="+ uid +"&status=refused")
		}
		</script>
</body>

</html>
